<div class=" container t-4 mb-4 col-lg-6">
    <h3>Create student</h3>
    <form class  = "mt-4" method="POST" action= "/students/store"> 
        <div class="form-group">
            <label for="name">Student Name</label>
            <input type="text" class="form-control" id="studentName" name="studentName" required>
        </div>
        
        <div class="form-group">
            <label for="studentGender">Gender</label>
                <select class="form-control" id="studentGender" name="studentGender" required>
                        <option>Male</option>
                        <option>Female </option>
                </select>
        </div>

        <div class="form-group">
            <label for="studentPhoneNumber">Numberphone</label>
            <input type="text" class="form-control" id="studentPhoneNumber" name="studentPhoneNumber" required>
        </div>
        

        <div class="form-group">
            <label for="studentDateOfBirth">Date of bird</label>
            <input type="date" class="form-control" id="studentDateOfBirth" name="studentDateOfBirth" value="2000-07-25" min="1930-01-01" max="2022-12-31" required>
        </div>
        
        
        <div class="form-group">
            <label for="studentEmail">Email</label>
            <input type="email" class="form-control" id="studentEmail" name="studentEmail" size="30" required>
        </div>


        <div class="form-group">
            <label for="studentPassword">Password</label>
            <input type="text" class="form-control" id="studentPassword" name="studentPassword" required value="654321">
        </div>

        <div class="form-group">
            <label for="studentStatus">Status</label>
                <select class="form-control" id="studentStatus" name="studentStatus" required>
                        <option>Studying</option>
                        <option>Graduated </option>
                        <option>Dropout</option>
                </select>
            {{!-- <input type="text" class="form-control" id="studentLevel" name="studentLevel"> --}}
        </div>
        <div class="form-group">
            <label for="studentLocation">Address </label>
            <input type="text" class="form-control" id="studentLocation" name="studentLocation" required value="Tien Du- Bac Ninh">
        </div>
        <div class="form-group">
            <label for="studentParentName">Parent Name </label>
            <input type="text" class="form-control" id="studentParentName" name="studentParentName" required>
        </div>
        <div class="form-group">
            <label for="studentParentName">Phone Number of parent </label>
            <input type="text" class="form-control" id="studentParentPhone" name="studentParentPhone" required>
        </div>
        <div class="form-group">
            <label for="studentImage">Image</label>
            <input type="text" class="form-control" id="studentImage" name="studentImage" required value="https://sportlinx360.com/sites/default/files/public_uploads/Website_content/Website_Logos/graduate-student-avatar.png">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>