<div class=" container t-4 mb-4 col-lg-6">
    <h3>Create course</h3>
    <form class  = "mt-4" style="font-size:13px;" method="POST" action= "/courses/store">
        <div class="form-group">
            <label for="name">Course Name</label>
            <input type="text" class="form-control" id="courseName" name="courseName" required>
        </div>
        <div class="form-group">
            <label for="courseType">Course Type</label>
            <input type="text" class="form-control" id="courseType" name="courseType" required>
        </div>

        <div class="form-group">
            <label for="courseLevel">Course level</label>
                <select class="form-control" id="courseLevel" name="courseLevel">
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                </select>
            {{!-- <input type="text" class="form-control" id="courseLevel" name="courseLevel"> --}}
        </div>
        <div class="form-group">
            <label for="courseSlot">Number of slot</label>
            <input type="number" class="form-control" id="courseSlot" name="courseSlot" min="10" max="100" required>
        </div>

        <div class="form-group">
            <label for="courseTime"> Learning time</label>
            <input type="number" class="form-control" id="courseTime" name="courseTime" min="10" max="100" required>
        </div>

        <div class="form-group">
            <label for="courseDescription">Course Description</label>
            <input type="text" class="form-control" id="courseDescription" name="courseDescription" required  >
        </div>

        <div class="form-group">
            <label for="courseVideoId">Link Video</label>
            <input type="text" class="form-control" id="courseVideoId" name="courseVideoId" value="p5fLDsgEBUs" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>