<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>
                Study now
            </button>
        </div>

        <div class="col-lg-9">
                <h2>{{this.courseName}}</h2>
                {{!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/WprsMTvR078"              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.courseVideoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>{{this.courseDescription}}</p>
        </div>
       
    </div>
</div>