<div class=" container t-4 mb-4 col-lg-6">
    <h3>Create testx</h3>
    <form class  = "mt-4" method="POST" action= "/testxs/store">
        <div class="form-group">
            <label for="testxName">testx Name</label>
            <input type="text" class="form-control" id="testxName" name="testxName">
        </div>
        <div class="form-group">
            <label for="testxLevel">testx level</label>
                <select class="form-control" id="testxLevel" name="testxLevel">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                </select>

        </div>

        <div class="form-group">
            <label for="testxTime"> Time doing</label>
            <input type="text" class="form-control" id="testxTime" name="testxTime">
        </div>

        <div class="form-group">
            <label for="testxDescription">testx Description</label>
            <input type="text" class="form-control" id="testxDescription" name="testxDescription">
        </div>
        <div class="form-group">
            <label for="testxImage">testx image</label>
            <input type="text" class="form-control" id="testxImage" name="testxImage">
        </div>
        
        <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>