<div class="mt-4">
    <div class="row">
         <div class="col-lg-9">
                <h2>{{testx.testxName}}</h2>
                <p>{{testx.testxLevel}}</p>
        </div>
       
    </div>
</div>