
<body>
<!-- header section ends -->
<section class="courses">

   <h1 class="heading"> Our Tests List and how we done Courses</h1>

   <div class="box-container">


            {{#each scoreCourses}}
               <div class="box">
                   <h3>{{this.scoreCourseName}}</h3>
               </div>
            {{/each }}
   </div>
</section>

</body>
