<div class=" container t-4 mb-4 col-lg-6">
    <h3>Create test</h3>
    <form class  = "mt-4" method="POST" action= "/testx" autocomplete="off">
        <div class="form-group">
            <label for="name">Test Name</label>
            <input type="text" class="form-control" id="testName" name="testName">
        </div>
        <div class="form-group">
            <label for="name">Test level</label>
            <input type="text" class="form-control" id="testLevel" name="testLevel">
        </div>
        <div class="form-group">
            <label for="description">Test Description</label>
            <input type="text" class="form-control" id="testDescription" name="testDescription">
        </div>
        <div class="form-group">
            <label for="description">Test image</label>
            <input type="text" class="form-control" id="testImage" name="testImage">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>